<p data-bind="visible: pending_events_tokens.count() >= 1">
	<a href="#" data-bind="click: http_actions.tokenConsume">
		<span data-bind="text: pending_events_tokens.count"></span> évènement<span data-bind="if:pending_events_tokens.count() >= 2">s</span> en attente.
	</a>
</p>
<p data-bind="visible: pending_events().length == 0">
	Aucun évènement pour l'instant.<br />
	Allez vous occuper de votre royaume !
</p>

<div data-bind="foreach: pending_events">
	{% include "app/templates/_pending_event.html" %}
</div>
