<ul class="pure-paginator">
	<li><a class="pure-button" data-bind="page-href: '../mission'">Missions en attente</a></li>
	<li><a class="pure-button" data-bind="page-href: 'running'">Missions en cours</a></li>
</ul>

<div data-bind="page: {id: 'start'}">
	<div data-bind="foreach: unstarted_pending_missions">
		{% include "app/templates/_pending_mission.html" %}
	</div>
</div>

<div data-bind="page: {id: 'running'}">
	<div data-bind="foreach: started_pending_missions">
		{% include "app/templates/_pending_mission.html" %}
	</div>
</div>
