<ul class="nav nav-tabs">
	<li><a data-bind="page-href: 'available'">Missions disponibles</a></li>
	<li><a class="active" data-bind="page-href: '../mission'">Missions en attente</a></li>
	<li><a data-bind="page-href: 'running'">Missions en cours</a></li>
</ul>

<div data-bind="page: {id: 'available'}">
	<ul data-bind="foreach: available_missions">
		{% include "app/templates/_available_mission.html" %}
	</ul>
</div>

<div data-bind="page: {id: 'start'}">
	<div data-bind="foreach: unstarted_pending_missions">
		{% include "app/templates/_pending_mission.html" %}
	</div>
</div>

<div data-bind="page: {id: 'running'}">
	<div data-bind="foreach: started_pending_missions">
		{% include "app/templates/_pending_mission_started.html" %}
	</div>
</div>
