{% extends "app/template.html" %}
{% block title %}Que mon règne vienne !{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}app/index.css" />
{% endblock css %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}app/index.js"></script>

	<base href="/app/" />
{% endblock js %}

{% block content %}
<h1>Que mon règne vienne !</h1>

<div class="container">
	<div data-bind="page: {id: 'start'}">
		<p><a href="#structure">Structure</a></p>
	</div>

	<div data-bind="page: {id: 'structure'}">
		<p>Structure details</p>
	</div>

	<div data-bind="page: {id: '?'}">
		<h3>Error</h3>
		<p>The page you requested does not exist.</p>
		<p><a data-bind="page-href: '../'">Go back</a></p>
	</div>
</div>
{% endblock content %}
