{% extends "app/template.html" %}
{% block title %}Que mon règne vienne !{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}app/index.css" />
{% endblock css %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}app/index.js"></script>
{% endblock js %}

{% block content %}
<h1>Que mon règne vienne !</h1>

<!-- Kingdom -->
<h2>Mon royaume</h2>
<ul>
	<li>Prestige : <span data-bind="text: kingdom.prestige"></span></li>
	<li>Argent : <span data-bind="text: kingdom.money"></span></li>
	<li>Population : <span data-bind="text: kingdom.population"></span></li>
</ul>

<div class="row">
	<div class="small-3 columns" id="cour">
		<h3>Ma cour</h3>
		<ul data-bind="foreach: folks">
			<li>
				<h5 data-bind="text: name"></h5>
				<table>
					<thead>
						<tr>
							<th>C</th>
							<th>I</th>
							<th>D</th>
							<th>É</th>
							<th>L</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-bind="text: fight"></td>
							<td data-bind="text: plot"></td>
							<td data-bind="text: diplomacy"></td>
							<td data-bind="text: scholarship"></td>
							<td data-bind="text: loyalty"></td>
						</tr>
					</tbody>
				</table>
			</li>
		</ul>
	</div>
	<div class="small-7 columns" id="content">

	</div>
	<div class="small-2 columns" id="messages">
		<h3>Évènements</h3>
	</div>
</div>
{% endblock content %}
