<div class="well row-fluid">
	<span data-bind="text: console.log($data)"></span>
	<div data-bind="if: folk">
		<div class="span3">
			<div class="l-box splash-image">
				<img data-bind="attr: {src: folk.avatar()}" class="img-rounded">
			</div>
		</div>
		<div class="span9">
			<h2 data-bind="text : name"></h2>
			<p data-bind="text : description"></p>

			<p>
				En poste : <span data-bind="text: folk.first_name() + ' ' + folk.last_name()"></span>.<br />
				<a href="#" data-bind="click: http_actions.availableTitleDefect">Ouste !</a>
			</p>
		</div>
	</div>

	<div data-bind="ifnot: folk, droppable: droppable_available_title_affect_folk" class="row-fluid">
		<div class="span3">
			<div class="l-box splash-image">
				<img src="http://placehold.it/100x120" alt="" class="img-rounded">
			</div>
		</div>
		<div class="span9">
			<h2 data-bind="text : name"></h2>
			<p data-bind="text : description"></p>
		</div>
	</div>
</div>
