<tr>
	<td rowspan="2">
		<p data-bind="draggable: true">
			<img data-bind="attr: {src:avatar()}" />
			<span data-bind="text: name"></span>
			<small data-bind="text: '(' + age() + ' ans)'"></small>
		</p>
	</td>
	<td data-bind="text: fight"></td>
	<td data-bind="text: plot"></td>
	<td data-bind="text: diplomacy"></td>
	<td data-bind="text: scholarship"></td>
	<td data-bind="text: loyalty"></td>
</tr>
<tr>
	<td colspan="5" data-bind="foreach: qualities"><span data-bind="text:name"></span>
</tr>
