<div class="well row-fluid">
	<h2 data-bind="text : name"></h2>
	<p data-bind="html : text"></p>

	<form data-bind="if: has_target">
		<label for="target">Cible :</label>
		<select name="target" id="target" data-bind="event: {change: change_pending_mission_update_target }, options:targets, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Sélectionnez...', value: target"></select>
	</form>
	<form data-bind="if: has_value">
		<label for="value" data-bind="text: value_description()"></label>
		<input type="number" id="value" name="value" data-bind="event: {change: change_pending_mission_update_value }, value: value" />
	</form>

	<div data-bind="foreach: grids">
		<div>
			<p data-bind="text: name"></p>
			<div data-bind="foreach: affectations">
				<div>
					<img data-bind="attr: {src:avatar, alt: name}" alt="Affectation" style="margin:10px;" />
					<span data-bind="text:first_name() + ' ' + last_name()"></span>
					<a href="#" data-bind="click: http_actions.pendingMissionGridDefect">Ouste !</a>
				</div>
			</div>

			<div data-bind="visible: affectations().length < length(), droppable: droppable_pending_mission_grid_affect_folk">
				<img src="http://placehold.it/50x60" alt="Affectation" style="margin:10px;" />
			</div>
		</div>
	</div>

	<small data-bind="visible: timeout() != null, text: new Date(timeout())"></small><br />

	<a class="btn" href="#" data-bind="click: http_actions.pendingMissionStart">Démarrer la mission</a>

	<a class="btn" href="#" data-bind="click: http_actions.pendingMissionCancel, visible: is_cancellable">Annuler la mission</a>
</div>
