{% extends "admin/base.html" %}
{% load i18n %}
 
{% block title %}{{ title }} | Administration des royaumes{% endblock %}
 
{% block branding %}
<h1 id="site-name">Kingdoms</h1>

<style type="text/css">
.controls textarea {
	width:100%;
}

.controls input {
	min-width:60%;
}
</style>
{% endblock %}
 
{% block nav-global %}{% endblock %}

{% block footer_links %}
 <a href="https://github.com/Neamar/kingdoms/docs#readme" class="icon"><i class="icon-question-sign"></i>Documentation</a>
 <a href="{% url "kingdom.views.index.app" %}" class="icon"><i class="icon-play-circle"></i>Application</a>
{% endblock %}

{% block copyright %}{% endblock copyright %}

{% block footer_branding %}
{% endblock %}
