body
{
	padding-bottom:50px;
}

#messages
{
	border-left:1px solid black;
}


#folk img
{
	width: 50px;
	height: 60px;
}


#title img
{
	width: 100px;
	height: 120px;
}


#mission img
{
	width: 50px;
	height: 60px;
}

#bargain img
{
	width: 50px;
	height: 60px;
}
