<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

	<script src="{{ STATIC_URL }}jquery/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

	<script src="{{ STATIC_URL }}knockout/knockout-2.2.1.js"></script>
	<script src="{{ STATIC_URL }}knockout/knockout.mapping-2.4.1.min.js"></script>
	<script src="{{ STATIC_URL }}knockout/pagerjs.js"></script>

	{% block css %}{% endblock %}
	{% block js %}{% endblock %}

</head>
<body>

	{% block content %}
	{% endblock content %}
</body>
</html>
